{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}



    {% block style %}
    <style>
        .h1-style {
                color: grey;
            }

        .login {
            width: 100%;
            margin: auto;
        }

        .login-form{
            width: 500px;
            margin: auto;
        }
    </style>
        
    {% endblock %}

    {% block body %}

    <div class="container login mt-4">
        
        <div class="bg-dark text-secondary px-4 py-5 text-center">
            <div class="py-5">
                <h1 class="display-5 fw-bold text-white">What You Search For</h1>
                <div class="col-lg-6 mx-auto">
                    <h3 class="h1-style">Login</h3>
                    <p>
                        Beauty Comes In Any Way You Feel
                    </p>
                    <div class="row login-form">
                        <div class="col-12">
                            {% if form.errors %}
                            <p>Incorrect Username or Password</p>
                            {% else %}
                            <p>Please provide your credentials</p>
                            {% endif %}
                            <form  action="" method="post" novalidate>
                                {% csrf_token %}
                                {{form | crispy}}
            
                                <input type="hidden" name="next" value="{{next}}" />
                                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                    <input class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" type="submit" value="Login" />
                                    <button class="btn btn-outline-light btn-lg px-4" type="button">Forgot Password</button>
                                </div>
                            </form>  
                            
                            <!-- <div class="row mt-4">
                                <div class="col">
                                    <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="{% url 'social:begin' 'facebook' %}">Sign In With Facebook</a>
                                </div>
                                <div class="col">
                                    <a class="btn btn-outline-danger btn-lg px-4 me-sm-3 fw-bold" href="{% url 'social:begin' 'github' %}">Sign In With Github</a>
                                </div>
                                <div class="col">
                                    <a class="btn btn-outline-primary btn-lg px-4 me-sm-3 fw-bold" href="{% url 'social:begin' 'linkedin-oauth2' %}">Sign In With LinkedIn</a>
                                </div>
                            </div> -->
                        </div>
                    </div>    
                    
                </div>
            </div>
        </div>
        
        

        
    </div>
    


    {% endblock %}
