<div class="m-auto">
    <div class="pagination mt-5 pt-4">
        <ul class="list-inline">
            <li class="list-inline-item">
                {% if page.has_previous %}
                <a  href="?page={{page.previous_page_number}}">Previous</a>
                {% endif %}</li>
            <li class="list-inline-item"><a class="active">Page {{page.number}} of {{page.paginator.num_pages}}</a></li>
            <li class="list-inline-item">
                {% if page.has_next %}
                <a href="?page={{page.next_page_number}}">Next</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>


