{% extends 'base.html' %}
{% load static %}
{% block title %} Article List {% endblock %}



    {% block style %}
    <style>
        .h1-style {
                color: Grey;
            }
        .link-style{
            text-decoration: none;
            color: black;
        }

        .link-style:hover{
            text-decoration: none;
            color: blue;
        }

        .my-post {
            min-height:150px;
        }

        .my-image {
            max-height:700px;
        }

        

    </style>
        
    {% endblock %}

    {% block body %}

    <div class="container pt-4">
        <h1 class="h1-style"> Articles For You</h1>
        <h2>The Place to learn</h2>
        <div class="row">
            {% for article in articles %}
            <div class="col-md-8 my-3 offset-2">
                <div class="card my-post">
                    <img src="{% static 'images/water.jpg' %}" class="card-img-top my-image" alt="...">
                    <div class="card-body">
                        <h4><a class="card-title link-style" href="{% url 'article_details' article.slug %}">{{article.title}}</a></h4>
                        <p>@{{article.author}}</p>
                        <a href="{% url 'article_details' article.slug %}" class="btn btn-primary">Go somewhere</a>
                    </div> 
                </div>
            </div>
            {% endfor %}
        </div> 
        
        
        {% include 'pagination.html' with page=articles %}
    </div>
    


    {% endblock %}
